obj/
bin/
logs/
packages/
!packages/repositories.config
App_Data/
*.user
*.vspscc
*.suo
*.dbmdl
*.mdf
*.ldf
*.log
*.swp
*.nupkg
.vs/

CustomInstrumentation.xml
CustomInstrumentation-*.xml
.tmp/
*.tmp
*.idea
*.sass-cache
node_modules/
bower_components
*.sublime-project
*.sublime-workspace
grunt-aws.json

.DS_Store
desktop.ini
Temp_Data
local.config

Stage.appSettings.config
Stage.connectionStrings.config
Stage.smtp.config
Stage.widgetHosts.config
Qa.appSettings.config
Qa.connectionStrings.config
Qa.smtp.config
Production.appSettings.config
Production.connectionStrings.config
Production.smtp.config
Release.appSettings.config
Release.connectionStrings.config
Release.smtp.config
Release.widgetHosts.config
Qa.appSettings.config
Qa.connectionStrings.config
Qa.smtp.config

web.stage.config
web.qa.config
web.production.config
app.stage.config
app.qa.config
app.production.config

TestResult.xml
.bamboo/*.xml
.bamboo/*.json
TestResults/
junit-results.xml
Test/Rokt.E2E.Test/tests_output/
\.bamboo/rokt-aws/

# Certificates
*.cer
*.pfx
# Visual studio config
.vs/*

*.jar

# Serverless directories
.serverless
deploy-package.zip
devops/Scheduler/environment.yml
